/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100px;
}
img {
 width: 100%;  
}
/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  text-align:left;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width:480px)  {

.group {
    flex-direction:row;
}
.logo {
    font-family: "Tangerine", cursive;
    font-size: 24px;
    color: #ecdbc9;
    text-align:left;
    padding: 30 0px;
}
header nav {
    display: flex;
justify-content: right;
font-size:10px;
}
header nav ul {
display: flex;
}
.join {
flex-direction:row;
justify-content: center;
align-items: center;
}
.about {
font-size:12px;
text-align: right;
flex-direction:row;
justify-content: center;
align-items: center;
}
.download {
font-size: 12px;
text-align: left;
flex-direction:row;
justify-content: center;
align-items: center;
}
.blog {
    display: flex;
 }

.item {
    flex: 1;
    margin: 10px;
    flex-direction: row;
  }
  
.item-download {
    flex: 1;
    margin: 10px;
    flex-direction: row-reverse;
    align-self: flex-end;
}
.item-join {
    flex: 1;
    margin: 10px;
    flex-direction: row;
    align-self: flex-start;
}

.item-about {
    flex: 1;
    margin: 10px;
    flex-direction: row;
    align-self:flex-start;
}
 .item-join img {
height: 400px;
width: 600px;
object-fit:cover;
}
.item-about img {
height: 100px;
width: 150px;
object-fit: cover;
}
.item-download img {
height: 350px;
width:450px;
object-fit: cover;
}

 .blog .col {
    width: 50%;
    height: 100px;
    margin-bottom: 2%
    }
  .blog-row {
    display:flex;
  }
  .blog-row .col {
    width: 50%;
  }
  .col img {
height:350px;
width: 450px;
object-fit: cover;
  }
.about .text-about {
padding-left: 30px;
}
.download .text-download {
padding-right: 30px;
}
.blog .text-blog {
display: block;
}
.join .form {
align-self: flex-end;
}
.wrapper {
padding:0;
}
.form-row {
display: flex;
justify-content: flex-end;
padding: .5em;
}
.form-row > label {
padding: .5em 1em .5em 0;
flex: 1
}
.form-row > input {
flex: 2;
}
}